/*
 * @author Vanessa Lutz  
 * @version 2.0
 *
 */ 

 .root {
	-fx-background-image: url("Hintergrund.jpg");
}

#neuesspiel{
	-fx-background-color:#612C83;
	-fx-background-radius: 50px;
	-fx-border-with: 50px;
	-fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color:#F5FFC3;
}

#wuerfeln{
	-fx-background-color:#F5FFC3;
	-fx-background-radius: 50px;
	-fx-border-with: 50px;
	-fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: black;
}

#anzeigewuerfel1, #anzeigewuerfel2, #anzeigewuerfel3, #anzeigewuerfel4, #anzeigewuerfel5{
	-fx-text-fill: #000000;
	-fx-border-color: grey;
	-fx-background-color:#F5FFC3;
}

#keepw1, #keepw2, #keepw3, #keepw4, #keepw5{
	-fx-background-image: url(Hold.jpg);
}

#einser, #dreierpasch, #chance, #fullhouse, #kleinestrasse, #grossestrasse, #kniffel{
	-fx-background-color:#612C83;
	-fx-background-radius: 20px;
	-fx-border-with: 50px;
	-fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: black;
}

#anz_namespieler1, #anz_einsersp1, #anz_3erpaschsp1, #anz_chancesp1, #anz_fullhousesp1, #anz_kleinestrassesp1, #anz_grossestrassesp1, #anz_kniffelsp1, #anz_summesp1{
	-fx-text-fill: #000000;
	-fx-background-color:#509AAF;
}

#anz_namespieler2, #anz_einsersp2, #anz_3erpaschsp2, #anz_chancesp2, #anz_fullhousesp2, #anz_kleinestrassesp2, #anz_grossestrassesp2, #anz_kniffelsp2, #anz_summesp2{
	-fx-text-fill: #000000;
	-fx-background-color:#7DD8C7;
}

#anzeigeeinser, #anzeigedreierpasch, #anzeigechance, #anzeigefullhouse, #anzeigekleinestrasse, #anzeigegrossestrasse, #anzeigekniffel{
	-fx-background-color:#F5FFC3;
}

